## 1) Used cars analysis on Area wise and all over india 
## 2) Brand wise used cars Analysis

In [1]:
import requests

In [4]:
url = "https://www.cars24.com/buy-used-cars-pune/?sort=bestmatch&serveWarrantyCount=true&storeCityId=2423"
requests.get(url)
request_header = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/123.0.0.0 Safari/537.36'}
page = requests.get(url,headers =request_header)
requests.get(url)

In [5]:
from bs4 import BeautifulSoup

In [6]:
soup = BeautifulSoup(page.text)

In [7]:
for i in soup.find_all('div' , class_ = 'styles_contentWrap__9oSrl'):
    print(i.text)

CARS24 Assured2016 Renault Kwid RXT 0.843.67k kmPetrolManualMH-12EMI ₹4,594/m*₹2.42L₹2.35 lakh+ other charges Tathawade, Pune
CARS24 Assured2013 Hyundai i10 SPORTZ 1.275.32k kmPetrolManualMH-12EMI ₹8,293/m*₹2.50 lakh+ other charges Amanora Mall apex building, Pune
CARS24 Assured2016 Renault Kwid RXT 0.858.96k kmPetrolManualMH-12EMI ₹4,528/m*₹2.32 lakh+ other charges Tathawade, Pune
CARS24 Assured2015 Maruti Celerio VXI AMT88.13k kmPetrolAutoMH-12EMI ₹6,614/m*₹2.97 lakh+ other charges Tathawade, Pune
CARS24 Assured2018 Maruti Wagon R 1.0 LXI CNG1.3L kmCNGManualMH-14EMI ₹7,797/m*₹3.51 lakh+ other charges Tathawade, Pune
CARS24 Assured2018 Maruti Wagon R 1.0 VXI30.64k kmPetrolManualMH-12EMI ₹6,355/m*₹3.60 lakh+ other charges Amanora Mall apex building, Pune
CARS24 Assured2013 Volkswagen Polo HIGHLINE1.2L71.86k kmPetrolManualMH-15EMI ₹8,304/m*₹2.78L₹2.50 lakh+ other charges Tathawade, Pune
CARS24 Assured2015 Maruti Wagon R 1.0 VXI AMT74.69k kmCNGAutoMH-12EMI ₹9,280/m*₹2.79 lakh+ other charges Tathawade, Pune
CARS24 Assured2017 Honda Jazz 1.2L I-VTEC V AT78.10k kmPetrolAutoMH-01EMI ₹7,326/m*₹4.56L₹4.15 lakh+ other charges Tathawade, Pune
CARS24 Assured2018 Hyundai Grand i10 MAGNA 1.2 KAPPA VTVT29.24k kmPetrolManualMH-05EMI ₹6,178/m*₹3.55L₹3.50 lakh+ other charges Tathawade, Pune
CARS24 Assured2021 Maruti Baleno DELTA PETROL 1.239.34k kmPetrolManualMH-02EMI ₹10,150/m*₹5.75 lakh+ other charges Tathawade, Pune
CARS24 Assured2018 Tata TIGOR XZA PETROL50.06k kmPetrolAutoMH-14EMI ₹8,120/m*₹4.60 lakh+ other charges Tathawade, Pune
CARS24 Assured2016 Honda BR-V 1.5L I-VTEC V CVT48.45k kmPetrolAutoMH-03EMI ₹10,068/m*₹5.28L₹5.15 lakh+ other charges Tathawade, Pune
CARS24 Assured2024 Maruti Grand Vitara ZETA SMART HYBRID21.95k kmPetrolManualMH-12EMI ₹23,115/m*₹14.50L₹13.50 lakh+ other charges CARS24 ELITE Hub, Magarpatta, Mundhwa
CARS24 Assured2016 Maruti Celerio ZXI60.99k kmPetrolManualMH-14EMI ₹6,627/m*₹3.39 lakh+ other charges Tathawade, Pune
CARS24 Assured2015 Maruti Celerio VXI AMT67.72k kmPetrolAutoMH-01EMI ₹6,562/m*₹3.07L₹2.95 lakh+ other charges Tathawade, Pune
CARS24 Assured2017 Audi Q3 30 TDI PREMIUM PLUS62.48k kmDieselAutoMH-03EMI ₹29,503/m*₹19.90L₹15.50 lakh+ other charges CARS24 ELITE Hub, Magarpatta, Mundhwa
CARS24 Assured2016 Ford Ecosport TITANIUM 1.5L DIESEL34.29k kmDieselManualMH-12EMI ₹11,345/m*₹5.74L₹5.10 lakh+ other charges Amanora Mall apex building, Pune
CARS24 Assured2018 Tata Tiago XZ PETROL86.32k kmPetrolManualMH-12EMI ₹6,271/m*₹3.55 lakh+ other charges Tathawade, Pune
CARS24 Assured2017 Tata Tiago XZ PETROL25.97k kmPetrolManualMH-12EMI ₹6,443/m*₹3.87L₹3.65 lakh+ other charges Tathawade, Pune

In [8]:
for j in soup.find_all('div' , class_ = 'styles_ellipsis__uatjG'):
    print(j.text)

 Tathawade, Pune
 Amanora Mall apex building, Pune
 Tathawade, Pune
 Tathawade, Pune
 Tathawade, Pune
 Amanora Mall apex building, Pune
 Tathawade, Pune
 Tathawade, Pune
 Tathawade, Pune
 Tathawade, Pune
 Tathawade, Pune
 Tathawade, Pune
 Tathawade, Pune
 CARS24 ELITE Hub, Magarpatta, Mundhwa
 Tathawade, Pune
 Tathawade, Pune
 CARS24 ELITE Hub, Magarpatta, Mundhwa
 Amanora Mall apex building, Pune
 Tathawade, Pune
 Tathawade, Pune

In [9]:
for j in soup.find_all('div' , class_ = 'styles_ellipsis__uatjG'):
    print(j.text)

 Tathawade, Pune
 Amanora Mall apex building, Pune
 Tathawade, Pune
 Tathawade, Pune
 Tathawade, Pune
 Amanora Mall apex building, Pune
 Tathawade, Pune
 Tathawade, Pune
 Tathawade, Pune
 Tathawade, Pune
 Tathawade, Pune
 Tathawade, Pune
 Tathawade, Pune
 CARS24 ELITE Hub, Magarpatta, Mundhwa
 Tathawade, Pune
 Tathawade, Pune
 CARS24 ELITE Hub, Magarpatta, Mundhwa
 Amanora Mall apex building, Pune
 Tathawade, Pune
 Tathawade, Pune

In [10]:
for j in soup.find_all('div' , class_ = 'sc-dJDBYC NPSpw'):
    print(j.text)

In [11]:
price=[]
section2 = soup.find_all('div', class_ = 'styles_priceWrap__VwWBV')
for j in section2:
    if j:
        price.append(j.text)
    else:
        price.append(np.nan)
price

['₹2.42L₹2.35 lakh',
 '₹2.50 lakh',
 '₹2.32 lakh',
 '₹2.97 lakh',
 '₹3.51 lakh',
 '₹3.60 lakh',
 '₹2.78L₹2.50 lakh',
 '₹2.79 lakh',
 '₹4.56L₹4.15 lakh',
 '₹3.55L₹3.50 lakh',
 '₹5.75 lakh',
 '₹4.60 lakh',
 '₹5.28L₹5.15 lakh',
 '₹14.50L₹13.50 lakh',
 '₹3.39 lakh',
 '₹3.07L₹2.95 lakh',
 '₹19.90L₹15.50 lakh',
 '₹5.74L₹5.10 lakh',
 '₹3.55 lakh',
 '₹3.87L₹3.65 lakh']

In [12]:
import re
import warnings
warnings.filterwarnings("ignore")
import requests
import numpy as np
from bs4 import BeautifulSoup

Year = []
Brand = [] 
Model = []
Fuel_Type = []
Transmission = []
KM_Driven = []
EMI_Price = []
Price = []
location=[]


data ={"pune":2423,"bangalore":4709,"mumbai":2378,"delhi":2 ,"hyderabad": 3686,"nashik":2598,"indore":2920,"noida" :134, "chandigarh":8623,"ludhiana":666, "lucknow":290, "gurgaon":5, 
       "ghaziabad":132, "kolkata":777, "coimbatore":6105,"patna":8184, "surat":1605, "vadodara":1674, "agra":136,"ahmedabad":1692, "jaipur":2130, "amritsar":684,
     "trivandrum":6565, "bhubaneswar":7323, "dehradun":1512, "bhopal":2987 }

for  i ,j in data.items():
    u = f"https://www.cars24.com/buy-used-cars-{i}/?sort=bestmatch&serveWarrantyCount=true&storeCityId={j}"
    url= str(u)
    request_header = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/123.0.0.0 Safari/537.36'}
    page = requests.get(url,headers =request_header)
    soup = BeautifulSoup(page.text)
    section = soup.find_all('div' , class_ = 'styles_contentWrap__9oSrl')
    section2 = soup.find_all('p', class_ = 'sc-braxZu lmmumg')
   
    for i in section:
        t = i.find("div", class_="styles_outer__NTVth")
        text = t.text

        year = re.findall('^\d+' , text)
        if year:
            Year.append(year[0])
        else:
            Year.append(np.nan)

        brand = re.findall(r'^\d+\s(\w+)' , text)
        if brand:
            Brand.append(brand[0])
        else:
            Brand.append(np.nan)

        model = re.findall('\d{4}\s[a-zA-Z]+\s(\w+)', text)
        if model:
            Model.append(model[0])
        else:
            Model.append(np.nan)

            
        fuel = re.findall(r'(Petrol|Diesel|CNG)', text)
        if fuel:
            Fuel_Type.append(fuel[0])
        else:
            Fuel_Type.append(np.nan)

        transmission = re.findall(r'(Manual|Auto)', text)
        if transmission:
            Transmission.append(transmission[0])
        else:
            Transmission.append(np.nan)

        km = re.findall(r'(\d+.\d+\w+ km)\w+', text)
        if km:
            KM_Driven.append(km[0])
        else:
            KM_Driven.append(np.nan)


        price = re.findall(r'₹\d+(?:\.\d+)?\s?(?:lakh|L)', text)
        if price:
            Price.append(price[0])
        else:
            Price.append(np.nan)
            
            
        for j in section2:
            if j:
                location.append(j.text)
            else:
                location.append(np.nan)

In [ ]:
import re
import warnings
warnings.filterwarnings("ignore")
import requests
import numpy as np
from bs4 import BeautifulSoup

Year=[] 
Brand=[] 
Model=[] 
Fuel_Type=[] 
Transmission=[]
KM_Driven=[] 
Price=[] 
EMI_Price=[] 
Location =[]

data = {
    "pune": 2423, "bangalore": 4709, "mumbai": 2378, "delhi": 2, "hyderabad": 3686, "nashik": 2598,
    "indore": 2920, "noida": 134, "chandigarh": 8623, "ludhiana": 666, "lucknow": 290, "gurgaon": 5,
    "ghaziabad": 132, "kolkata": 777, "coimbatore": 6105, "patna": 8184, "surat": 1605, "vadodara": 1674,
    "agra": 136, "ahmedabad": 1692, "jaipur": 2130, "amritsar": 684, "trivandrum": 6565,
    "bhubaneswar": 7323, "dehradun": 1512, "bhopal": 2987
}

for city, city_id in data.items():
    u = f"https://www.cars24.com/buy-used-cars-{city}/?sort=bestmatch&serveWarrantyCount=true&storeCityId={city_id}"
    request_header = {
        'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/123.0.0.0 Safari/537.36'
    }
    page = requests.get(u, headers=request_header)
    soup = BeautifulSoup(page.text, "html.parser")

    cars = soup.find_all('div', class_='styles_contentWrap__9oSrl')

    for car in cars:
        text_block = car.find("div", class_="styles_outer__NTVth")
        text = text_block.text if text_block else ""

        
        year = re.findall(r'^\d+', text)
        Year.append(year[0] if year else np.nan)

        
        brand = re.findall(r'^\d+\s(\w+)', text)
        Brand.append(brand[0] if brand else np.nan)

        
        model = re.findall(r'\d{4}\s[a-zA-Z]+\s(\w+)', text)
        Model.append(model[0] if model else np.nan)

      
        fuel = re.findall(r'(Petrol|Diesel|CNG)', text)
        Fuel_Type.append(fuel[0] if fuel else np.nan)

        
        transmission = re.findall(r'(Manual|Auto)', text)
        Transmission.append(transmission[0] if transmission else np.nan)

        
        km = re.findall(r'(\d+\.?\d*\s?\w+ km)', text)
        KM_Driven.append(km[0] if km else np.nan)


        price = re.findall(r'([\d.]+)(?=\s*lakh)', text)
        Price.append(price[0] if price else np.nan)

        emi_price = re.findall(r'EMI \D\d+,\d+\/m', text)
        EMI_Price.append(emi_price[0] if emi_price else np.nan)

        loc_tag = car.find("div", class_="styles_ellipsis__uatjG")
        Location.append(loc_tag.text.strip() if loc_tag else np.nan)

In [ ]:
print('YEAR:', len(Year))
print('BRAND:', len(Brand)) 
print('MODEL:', len(Model))
print('FULE_TYPE:', len(Fuel_Type))
print('TRANSMISSION:', len(Transmission))
print('KM_DRIVEN:', len(KM_Driven))
print('PRICE:', len(Price))
print('EMI_PRICE:',len(EMI_Price))
print('LOCATION',len(Location))

In [ ]:
print("Price",(Price))

In [14]:
print("EMI_Price",(EMI_Price))

EMI_Price ['EMI ₹4,594/m', 'EMI ₹8,293/m', 'EMI ₹4,528/m', 'EMI ₹6,614/m', 'EMI ₹7,797/m', 'EMI ₹6,355/m', 'EMI ₹8,304/m', 'EMI ₹9,280/m', 'EMI ₹7,326/m', 'EMI ₹6,178/m', 'EMI ₹10,150/m', 'EMI ₹8,120/m', 'EMI ₹10,068/m', 'EMI ₹23,115/m', 'EMI ₹6,627/m', 'EMI ₹6,562/m', 'EMI ₹29,503/m', 'EMI ₹11,345/m', 'EMI ₹6,271/m', 'EMI ₹6,443/m', 'EMI ₹9,624/m', 'EMI ₹10,062/m', 'EMI ₹9,386/m', 'EMI ₹8,423/m', 'EMI ₹7,288/m', 'EMI ₹11,902/m', 'EMI ₹5,828/m', 'EMI ₹11,725/m', 'EMI ₹5,196/m', 'EMI ₹7,766/m', 'EMI ₹17,182/m', 'EMI ₹10,579/m', 'EMI ₹7,896/m', 'EMI ₹6,769/m', 'EMI ₹10,196/m', 'EMI ₹14,531/m', 'EMI ₹9,092/m', 'EMI ₹14,412/m', 'EMI ₹9,352/m', 'EMI ₹7,815/m', 'EMI ₹3,442/m', 'EMI ₹5,934/m', 'EMI ₹17,035/m', 'EMI ₹8,402/m', 'EMI ₹8,032/m', 'EMI ₹7,665/m', 'EMI ₹5,824/m', 'EMI ₹9,892/m', 'EMI ₹28,252/m', 'EMI ₹73,198/m', 'EMI ₹14,313/m', 'EMI ₹43,267/m', 'EMI ₹9,827/m', 'EMI ₹8,184/m', 'EMI ₹58,487/m', 'EMI ₹36,830/m', 'EMI ₹7,936/m', 'EMI ₹7,140/m', 'EMI ₹46,059/m', 'EMI ₹3,730/m', 'EMI ₹9,438/m', 'EMI ₹5,917/m', 'EMI ₹7,318/m', 'EMI ₹8,246/m', 'EMI ₹7,986/m', 'EMI ₹9,396/m', 'EMI ₹15,581/m', 'EMI ₹5,543/m', 'EMI ₹3,460/m', 'EMI ₹2,913/m', 'EMI ₹9,250/m', 'EMI ₹27,962/m', 'EMI ₹7,118/m', 'EMI ₹12,715/m', 'EMI ₹4,506/m', 'EMI ₹7,896/m', 'EMI ₹6,247/m', 'EMI ₹6,990/m', 'EMI ₹16,626/m', 'EMI ₹20,552/m', 'EMI ₹3,559/m', 'EMI ₹8,667/m', 'EMI ₹13,698/m', 'EMI ₹7,229/m', 'EMI ₹13,698/m', 'EMI ₹15,549/m', nan, 'EMI ₹7,103/m', 'EMI ₹8,138/m', 'EMI ₹31,677/m', 'EMI ₹12,640/m', 'EMI ₹15,153/m', 'EMI ₹17,117/m', 'EMI ₹29,964/m', 'EMI ₹11,757/m', 'EMI ₹30,919/m', 'EMI ₹23,537/m', 'EMI ₹7,868/m', 'EMI ₹8,826/m', 'EMI ₹5,811/m', 'EMI ₹13,391/m', 'EMI ₹8,597/m', 'EMI ₹9,131/m', 'EMI ₹7,585/m', 'EMI ₹6,849/m', 'EMI ₹7,644/m', 'EMI ₹6,796/m', 'EMI ₹6,413/m', 'EMI ₹3,519/m', 'EMI ₹6,443/m', 'EMI ₹8,350/m', 'EMI ₹8,209/m', 'EMI ₹6,477/m', 'EMI ₹7,414/m', 'EMI ₹6,922/m', 'EMI ₹6,549/m', 'EMI ₹6,735/m', 'EMI ₹20,052/m', 'EMI ₹30,820/m', 'EMI ₹37,156/m', 'EMI ₹36,984/m', 'EMI ₹30,820/m', 'EMI ₹20,376/m', nan, 'EMI ₹8,314/m', 'EMI ₹12,039/m', 'EMI ₹3,675/m', 'EMI ₹25,427/m', 'EMI ₹25,256/m', 'EMI ₹28,509/m', 'EMI ₹6,231/m', 'EMI ₹7,820/m', 'EMI ₹24,828/m', 'EMI ₹21,454/m', 'EMI ₹5,246/m', 'EMI ₹8,456/m', 'EMI ₹11,298/m', 'EMI ₹15,325/m', 'EMI ₹8,456/m', 'EMI ₹8,191/m', 'EMI ₹39,781/m', 'EMI ₹14,177/m', 'EMI ₹13,487/m', 'EMI ₹8,615/m', 'EMI ₹14,503/m', 'EMI ₹71,075/m', 'EMI ₹13,681/m', 'EMI ₹12,072/m', 'EMI ₹32,533/m', 'EMI ₹16,523/m', 'EMI ₹15,890/m', 'EMI ₹8,209/m', 'EMI ₹4,766/m', 'EMI ₹6,231/m', 'EMI ₹14,742/m', 'EMI ₹7,043/m', 'EMI ₹7,238/m']

In [15]:
data={"Brand":Brand,
      "Model":Model,
      "Year":Year,
      "Fuel_Type":Fuel_Type,
      "Transmission":Transmission,
      "KM_Driven":KM_Driven,"Price":Price,
      "EMI_Price":EMI_Price,"Location":Location}
import pandas as pd
df=pd.DataFrame(data)
df

,Brand,Model,Year,Fuel_Type,Transmission,KM_Driven,Price,EMI_Price,Location
0,Renault,Kwid,2016,Petrol,Manual,843.67k km,2.35,"EMI ₹4,594/m","Tathawade, Pune"
1,Hyundai,i10,2013,Petrol,Manual,275.32k km,2.50,"EMI ₹8,293/m","Amanora Mall apex building, Pune"
2,Renault,Kwid,2016,Petrol,Manual,858.96k km,2.32,"EMI ₹4,528/m","Tathawade, Pune"
3,Maruti,Celerio,2015,Petrol,Auto,88.13k km,2.97,"EMI ₹6,614/m","Tathawade, Pune"
4,Maruti,Wagon,2018,CNG,Manual,1.3L km,3.51,"EMI ₹7,797/m","Tathawade, Pune"
...,...,...,...,...,...,...,...,...,...
152,Maruti,Alto,2022,Petrol,Manual,23.93k km,2.70,"EMI ₹4,766/m","GNB Mall, Raj Nagar Extension, Ghaziabad"
153,Nissan,MAGNITE,2021,Petrol,Manual,66.13k km,3.53,"EMI ₹6,231/m","Piyush Mahendra Mall, opp. Dussehra Ground, NI..."
154,Mahindra,Thar,2021,Petrol,Auto,32.82k km,8.61,"EMI ₹14,742/m","GNB Mall, Raj Nagar Extension, Ghaziabad"
155,Tata,NEXON,2018,Petrol,Manual,29.84k km,3.99,"EMI ₹7,043/m",Rajouri Garden
156,Tata,NEXON,2018,Petrol,Manual,28.47k km,4.10,"EMI ₹7,238/m","M3M Urbana, Golf Course Ext., Gurugram"

In [16]:
df.isnull().sum()

Brand           0
Model           0
Year            0
Fuel_Type       0
Transmission    0
KM_Driven       0
Price           0
EMI_Price       2
Location        0
dtype: int64

In [17]:
df.nunique()

Brand            18
Model            62
Year             15
Fuel_Type         3
Transmission      2
KM_Driven       151
Price           140
EMI_Price       148
Location         45
dtype: int64

In [18]:
df["Brand"].unique()

array(['Renault', 'Hyundai', 'Maruti', 'Volkswagen', 'Honda', 'Tata',
       'Audi', 'Ford', 'Skoda', 'Mahindra', 'Toyota', 'Jeep', 'Landrover',
       'Mercedes', 'BMW', 'Nissan', 'Datsun', 'KIA'], dtype=object)

In [19]:
df["Model"].unique()

array(['Kwid', 'i10', 'Celerio', 'Wagon', 'Polo', 'Jazz', 'Grand',
       'Baleno', 'TIGOR', 'BR', 'Q3', 'Ecosport', 'Tiago', 'Figo',
       'Rapid', 'Vento', 'Alto', 'TUV300', 'Verna', 'WR', 'i20', 'Etios',
       'URBAN', 'Amaze', 'GRAND', 'Ciaz', 'Compass', 'DISCOVERY', 'Benz',
       '3', 'MAGNITE', 'Redi', 'Ameo', 'New', 'Brio', 'Elite', 'SELTOS',
       'SONET', 'PUNCH', 'XL6', 'FRONX', 'City', 'Harrier', 'Ertiga',
       'Swift', 'Innova', 'SCORPIO', 'Duster', 'Octavia', 'Santro',
       'NEXON', 'Eon', 'Xcent', 'TRIBER', 'Safari', 'XUV700', 'Creta',
       'VENUE', 'CARNIVAL', 'KUSHAQ', 'XUV', 'Thar'], dtype=object)

In [20]:
df["Fuel_Type"].unique()

array(['Petrol', 'CNG', 'Diesel'], dtype=object)

In [21]:
df["Fuel_Type"].value_counts()

Fuel_Type
Petrol    123
Diesel     28
CNG         6
Name: count, dtype: int64

In [22]:
df["Location"].isnull().sum()

0

In [23]:
df["Location"].nunique()

45

In [24]:
df.groupby(by=["Brand"])["Location"].max()

Brand
Audi                      CARS24 ELITE Hub, Magarpatta, Mundhwa
BMW                      CARS24 ELITE Hub, Andheri East, Mumbai
Datsun                        Thakur Village Kandivali E Mumbai
Ford                             Regency Anantam, Dombivli East
Honda         Whitefield Main Road, Bhoruka Tech Park, Benga...
Hyundai                  Vaishnavi Sapphire Centre, Yeswanthpur
Jeep                     CARS24 ELITE Hub, Andheri East, Mumbai
KIA                              Upperpally, Attapur, Hyderabad
Landrover              CARS24 ELITE Hub, Malibu Town, Sector 47
Mahindra                       Satpur Colony Nashik Maharashtra
Maruti        Whitefield Main Road, Bhoruka Tech Park, Benga...
Mercedes       CARS24 ELITE Hub, Surajpur Site-4, Greater Noida
Nissan        Piyush Mahendra Mall, opp. Dussehra Ground, NI...
Renault                          Wadala Gaon Nashik Maharashtra
Skoda                                            Rajouri Garden
Tata                                                  Vise Mala
Toyota        Hosur Road, Chikku Lakshmaiah Layout, Koramang...
Volkswagen    Whitefield Main Road, Bhoruka Tech Park, Benga...
Name: Location, dtype: object

In [25]:
df.to_csv("Cars24_data.csv",index=True)

In [26]:
df

,Brand,Model,Year,Fuel_Type,Transmission,KM_Driven,Price,EMI_Price,Location
0,Renault,Kwid,2016,Petrol,Manual,843.67k km,2.35,"EMI ₹4,594/m","Tathawade, Pune"
1,Hyundai,i10,2013,Petrol,Manual,275.32k km,2.50,"EMI ₹8,293/m","Amanora Mall apex building, Pune"
2,Renault,Kwid,2016,Petrol,Manual,858.96k km,2.32,"EMI ₹4,528/m","Tathawade, Pune"
3,Maruti,Celerio,2015,Petrol,Auto,88.13k km,2.97,"EMI ₹6,614/m","Tathawade, Pune"
4,Maruti,Wagon,2018,CNG,Manual,1.3L km,3.51,"EMI ₹7,797/m","Tathawade, Pune"
...,...,...,...,...,...,...,...,...,...
152,Maruti,Alto,2022,Petrol,Manual,23.93k km,2.70,"EMI ₹4,766/m","GNB Mall, Raj Nagar Extension, Ghaziabad"
153,Nissan,MAGNITE,2021,Petrol,Manual,66.13k km,3.53,"EMI ₹6,231/m","Piyush Mahendra Mall, opp. Dussehra Ground, NI..."
154,Mahindra,Thar,2021,Petrol,Auto,32.82k km,8.61,"EMI ₹14,742/m","GNB Mall, Raj Nagar Extension, Ghaziabad"
155,Tata,NEXON,2018,Petrol,Manual,29.84k km,3.99,"EMI ₹7,043/m",Rajouri Garden
156,Tata,NEXON,2018,Petrol,Manual,28.47k km,4.10,"EMI ₹7,238/m","M3M Urbana, Golf Course Ext., Gurugram"

In [ ]:
emi_price = re.findall(r'EMI \D\d+,\d+\/m', text)
        EMI_Price.append(emi_price[0] if emi_price else np.nan)

In [ ]:
[Pune|Bangalore|Mumbai|Delhi|Hyderabad|Nashik|Indore|Noida|Chandigarh|Ludhiana|Lucknow|Gurgaon|Ghaziabad|Kolkata|Coimbatore|Patna|Surat|Vadodara|Agra|Ahmedabad|Jaipur|Amritsar|Trivandrum|Bubaneswar|Dehradun|Bhopal]

In [ ]:
# Extract actual price and EMI price as shown on Cars24 website for a given city
import requests
from bs4 import BeautifulSoup
import re

city = 'pune'  # Change city as needed
city_id = 2423  # Change city_id as needed
url = f'https://www.cars24.com/buy-used-cars-{city}/?sort=bestmatch&serveWarrantyCount=true&storeCityId={city_id}'
headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/123.0.0.0 Safari/537.36'}
page = requests.get(url, headers=headers)
soup = BeautifulSoup(page.text, 'html.parser')
cars = soup.find_all('div', class_='styles_contentWrap__9oSrl')

for car in cars:
    text_block = car.find('div', class_='styles_outer__NTVth')
    text = text_block.text if text_block else ''

    # Extract actual price
    price_match = re.search(r'₹[\d,]+(?:\.\d+)?\s?(?:lakh|L)?', text)
    price = price_match.group(0) if price_match else 'N/A'

    # Extract EMI price
    emi_match = re.search(r'EMI [^\d]*(\d+,\d+)/m', text)
    emi = emi_match.group(1) if emi_match else 'N/A'

    print(f'Actual Price: {price} | EMI Price: {emi}')

Actual Price: ₹7,363 | EMI Price: 7,363
Actual Price: ₹9,300 | EMI Price: 9,300
Actual Price: ₹33,701 | EMI Price: 33,701
Actual Price: ₹22,671 | EMI Price: 22,671
Actual Price: ₹10,121 | EMI Price: 10,121
Actual Price: ₹8,690 | EMI Price: 8,690
Actual Price: ₹27,085 | EMI Price: 27,085
Actual Price: ₹11,444 | EMI Price: 11,444
Actual Price: ₹44,178 | EMI Price: 44,178
Actual Price: ₹24,305 | EMI Price: 24,305
Actual Price: ₹8,407 | EMI Price: 8,407
Actual Price: ₹17,759 | EMI Price: 17,759
Actual Price: ₹5,944 | EMI Price: 5,944
Actual Price: ₹29,114 | EMI Price: 29,114
Actual Price: ₹8,453 | EMI Price: 8,453
Actual Price: ₹35,213 | EMI Price: 35,213
Actual Price: ₹8,795 | EMI Price: 8,795
Actual Price: ₹9,581 | EMI Price: 9,581
Actual Price: ₹24,268 | EMI Price: 24,268
Actual Price: ₹5,709 | EMI Price: 5,709

In [ ]:
"Pune|Agra|Bengaluru|Bangalore|Mumbai|Hyderabad|Nashik|Indore|Surajpur|GreaterNoida|Ghaziabad|New Delhi|Gurugram|Mohali|Haryana|Ludhiana|Lucknow|Noida|Kolkata|Coimbatore|Patna|Surat|Akota|Vadodara|Ahmedabad|Jaipur|Brijlalpura|Amritsar|Islamabad|Pongumoodu|Thiruvananthapuramgm